/*
Creator: Alan Carrasco
Date created: Dec. 6 2019
Date last modified:
*/
body{
    background-color: #fff6de;

}

header, footer {

    background-color: #DEE7FF;
height: 100px;
text-align: center;
padding: 30px 10px 20px 10px;
}

}

.border {
    border: thick solid blue;
}

#experience {
    /* border: thick solid skyblue;*/
}
nav a {
  background-color:#5b7d87;
  color: #fef9ff;
  padding: 8px;
  border: thin solid #0d1f2d;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 20px 150px ;
  width: 100px;
  float: left;
}
nav a:hover {
  background-color: #fef9ff;
  color: #5b7d87;
}
nav a:active {
  font-weight:bold;
}
nav a:visited {
  color:#e4c3ad;
}
